.Post {
    padding: 1vh;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 2fr;
    height: 80%;
    width: 80%;
    max-width: 80vw;
    box-shadow: 0 0 7px 7px rgb(22, 16, 16);
    background-color: rgb(65, 34, 34);
    color: white ;
}
#title {
    text-align: center;
    font-size: 4vh;
    width: 80vw;
    padding-bottom: 1vh;
    border-bottom: 1vh solid rgb(180, 180, 180);
}

#content {
    display: flex;
    font-size: 1.2vh
}
#image {
    max-width: 25vw;
    height: 20vh;
}
#description {
    padding-left: 2vh;
    width: 50vw;
    font-size: 1.2vh;
}
#comments {
    min-height: 20vh;
    width: 79vw;
    margin: 2vh 0.5vh 0 0.5vh;
    overflow-y: scroll;
    border: 2px solid rgb(5, 5, 5);
    box-shadow: -5px 5px 1px 0 rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#comment {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 6px 0 #616161;
    margin: 2vh 1vh;
    padding: 1vh;
    background-color: rgba(83, 55, 55, 0.589);
    color: black;
}
#commentDelete {
    width: 5%;
    font-weight: bolder;
    background-color: rgba(83, 55, 55, 0.589);
    border: 0;
}
#commentDelete:hover {
    background-color: rgba(44, 30, 30, 0.589);
    color: white;
}
#commentContent {
    height: 80%;
    font-size: 2vh;
    font-weight: 600;
    margin-bottom: 1.5vh;
}
#commentName {
    height: 20%;
    font-size: 2vh;
    opacity: 0.8;
    border-top: 2px solid rgb(105, 105, 105);
}